<div aria-hidden="true" aria-labelledby="myModalLabel" class="modal fade" id="mainPage" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Are your sure redirect to main page?</h4>
            </div>
            <div class="modal-body">If you want redirect to main page, please click "Redirect"</div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" onclick="location.href = '/';" type="button">Redirect
                </button>
            </div>
        </div>
    </div>
</div>