<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <title>Welcome - Voter</title>

    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom stylesheet -->
    <link href="/static/fontawesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/pub/sticky_footer_navbar.css" rel="stylesheet">
    <link href="/static/progress/css/component.css" rel="stylesheet" type="text/css">

    <!-- Custom script -->
    <script src="/static/progress/js/modernizr.custom.js"></script>
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar"
                    data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" style="cursor: pointer;">Voter</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li><a data-target="#toVoteID" data-toggle="modal" href="javascript: void(0);">VoteID ..</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <h1 class="mt-5">Voter - Anonymous Vote System | 匿名投票系统</h1>
    <button class="btn btn-default" data-target="#toVoteID" data-toggle="modal" type="button">To VoteID | 跳转至 VoteID
        ..
    </button>
    <p class="lead">
        <br>
        <b>Voter</b> is an anonymous vote website, and the voters were also anonymous. To ensure security, you can issue
        votes, but you can't modify or delete any votes.
        <br><br>
        <b>Voter</b> 是一个匿名投票站点，投票发起者同样是匿名的。所以为了确保安全，你可以发起投票，但不能修改或删除任何投票。
    </p>
    <br>
    <button class="btn btn-info btn-lg" onclick="location.href = '/public/en'" type="button">Launch a vote (
        In
        language: English )
    </button>
    <button class="btn btn-danger btn-lg" onclick="location.href = '/public/cn'" type="button">发起一次投票（
        使用语言：简体中文 ）
    </button>
</div>

<br>

<footer class="footer">
    <div class="container">
        <br>
        <span class="text-muted" th:text="'© ️' + ${YEAR}"></span><span>&nbsp;<a href=https://github.com/AdlerED/Voter>Voter</a>
        <img height="32" src="/static/images/china.png" width="32"/></span>
    </div>
</footer>

<script src="/static/jquery/jquery-3.4.1.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/bootstrap/js/icheck.min.js"></script>

<!-- Custom JS -->
<span th:replace="/vote/modal/toVoteID_en"></span>

<script src="/static/js/vote/toVoteID_en.js"></script>
</body>
</html>